In [1]:
pi = 22/7

In [2]:
print(pi)

3.142857142857143

In [3]:
type(pi)

float

In [4]:
for = 4 #question2

SyntaxError: invalid syntax (2046953698.py, line 1)

In [6]:
principle_amount = 567.00
rate_of_interest = 5.6
time = 3

In [8]:
simple_interest = principle_amount * rate_of_interest * time / 100
simple_interest

95.25599999999999

In [10]:
total_amount = principle_amount + simple_interest
print(total_amount)

662.256

In [11]:
radius = 84

pond_area = 3.14 * radius ** 2 
pond_area

22155.84

In [12]:
per_sqt_meter_water = 2000
total_water = pond_area*per_sqt_meter_water
total_water

44311680.0

In [14]:
distance = 490
time_in_seconds = 7 * 60

speed = distance / time_in_seconds
speed

1.1666666666666667

In [15]:
round(speed,2)

1.17

In [17]:
n_fruits = 2
n_vegetables = 4
print(f"I eat{n_fruits} fruits and {n_vegetables} vegetables daily")

I eat2 fruits and 4 vegetables daily

In [18]:
string = "THE Himalayas are one of the youngest mountain range on the planet."

print(string[0:13])
print(string[-29:-15])
print(f"{string[0:13]} {string[-14:]}")

THE Himalayas
mountain range
THE Himalayas on the planet.

In [19]:
string = "There are 9 planets in the solar system"

In [20]:
string = string.replace('9','8')

In [21]:
print(string)

There are 8 planets in the solar system

In [27]:
product1_price = 20.0
product1_quantity = 15

product2_price = 35
product2_quantity = 10

product3_price = 12.0
product3_quantity = 20

In [29]:
total_sales_product1 = product1_price * product1_quantity
total_sales_product2 = product2_price * product2_quantity
total_sales_product3 = product3_price * product3_quantity

total_sales_day = total_sales_product1 + total_sales_product2 + total_sales_product3
print("Daily sales summary:")
print(f"-product 1 : sold {product1_quantity} units at a ${product1_price} each ,total: ${total_sales_product1}")
print(f"-product 2 : sold {product2_quantity} units at a ${product2_price} each ,total: ${total_sales_product2}")
print(f"-product 3 : sold {product3_quantity} units at a ${product3_price} each ,total: ${total_sales_product3}")
total sales  for the day: $